:root {
  --c-theme-primary: #FFF;
  --c-text-primary: #FFF;
  --c-text-secondary: #777;
  --c-border-primary: #444;
  --c-bg-primary: #000;
  --c-bg-secondary: #222;
}

h1, h2, h3, h4, h5, h6, p, li, a, button, b {
  color: var(--c-text-primary);
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

button {
  font-family: inherit;
  background: var(--c-bg-secondary);
  border: 0;
  // border: 1px solid var(--c-border-primary);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

body {
  background: var(--c-bg-primary);
}