$nav-content-height: calc(1.1em + 15px);
$border-radius-1: 15px;
$border-radius-2: 10px;
$border-radius-3: 5px;

#app > .main {
  font-family: 'Urbanist', sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  max-width: 1600px;
  margin: 0 auto;
}