// For color adjustments
$shade-1: 10%;
$shade-2: 20%;
$shade-3: 30%;
$shade-4: 40%;
$shade-5: 50%;
$shade-6: 60%;
$shade-7: 70%;
$shade-8: 80%;
$shade-9: 90%;

$themes: (
  light: (
    // Background
    'color-bg-1': #FFF,
    'color-bg-1-invert': #000,
    'color-bg-2': #EEE,

    // Border
    'color-border-1': #CCC,

    // Text
    'color-text-1': #000,
    'color-text-2': #888,

    // Default button
    'color-button-bg': #FFF,
    'color-button-bg-hover': darken(#FFF, $shade-1),
    'color-button-border': #CCC,
    'color-button-text': #000,

    // Solid button
    'color-button-solid-bg': #000,
    'color-button-solid-bg-hover': lighten(#000, $shade-1),
    'color-button-solid-text': #FFF,

    // Accent button
    'color-button-accent-bg': #EEE,
    'color-button-accent-bg-hover': darken(#EEE, $shade-1),
    'color-button-accent-text': #888,
    'color-button-accent-text-hover': darken(#888, $shade-1),

    // Outline button
    'color-button-outline-bg': #FFF,
    'color-button-outline-border-hover': #000,
    'color-button-outline-text': #888,
    'color-button-outline-text-hover': #000
  ),

  dark: (
    // Background 
    'color-bg-1': #000,
    'color-bg-1-invert': #FFF,
    'color-bg-2': #222,

    // Border
    'color-border-1': #333,

    // Text
    'color-text-1': #FFF,
    'color-text-2': #777,

    // Default button
    'color-button-bg': #000,
    'color-button-bg-hover': lighten(#000, $shade-1),
    'color-button-border': #333,
    'color-button-text': #FFF,

    // Solid button
    'color-button-solid-bg': #FFF,
    'color-button-solid-bg-hover': darken(#FFF, $shade-1),
    'color-button-solid-text': #000,

    // Accent button
    'color-button-accent-bg': #222,
    'color-button-accent-bg-hover': lighten(#222, $shade-1),
    'color-button-accent-text': #777,
    'color-button-accent-text-hover': lighten(#777, $shade-1),

    // Outline button
    'color-button-outline-bg': #000,
    'color-button-outline-border-hover': #FFF,
    'color-button-outline-text': #777,
    'color-button-outline-text-hover': #FFF
  )
);

// Create darkmode in scss (Katie McTigue [medium], 2019) (Akshdeep Singh [stackoverflow], 2020)
// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
// https://stackoverflow.com/questions/57017955/is-there-a-way-to-add-dark-mode-to-my-application-with-scss
@mixin use-theme() {
  @each $theme, $map in $themes {
    [data-theme='#{$theme}'] {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
